/web/assetic/
/web/bundles/
/web/css/
/web/js/
/web/images/*
!/web/images/strefa/
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bdd_screens/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!bdd_screens/.gitkeep
/build/
/bower_components/
/vendor/
/bin/
/composer.phar
.idea
build/*
composer
*~
*.log
/nbproject/private/
/web/bootstrap