<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css"
                  rel="stylesheet">
            <link href='//fonts.googleapis.com/css?family=Comfortaa:400,700%27' rel='stylesheet' type='text/css'>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="realtime">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery_js' '@angular_js' '@angular_bootstrap_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>