{% extends "::base.html.twig" %}

{% block title %}RealtimeNotesBundle:ToDoList:index{% endblock %}

{% block body %}
<div ng-controller="realtimeController" ng-init="get()">
    <div class="row" >
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <label>
                <input class="form-control input-lg" type="text" ng-model='content' placeholder="Type data here...">
            </label>
            <button class="btn-lg btn-danger btn" ng-click="send(content)" ng-disabled="!content">Send</button> 
            <button class="btn-lg btn-danger btn" ng-click="get()" >Get</button>
            <button class="btn-lg btn-danger btn" ><a href={{path('realtime_notes_test')}}>Get</a></button>
        </div>
        <div class="col-md-4">
            <div growl></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <a href="#" class="list-group-item" ng-repeat="note in notes track by $index" ng-class="{archived:archived}">
                <div class="row">
                    <div class="col-md-3" ng-model="createdBy">
                        [[note.createdBy]]
                    </div>
                    <div class="col-md-5 pull-right">
                        <span class="pull-right" ng-model="datatime">[[note.createdDate]]</span>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="{line: archived}" ng-model="note">
                        [[note.note]]
                    </div>
                    <div class="col-md-3 pull-right">
                        <input type="checkbox" id="archived[[ $index ]]" name='archived' ng-model="archived"><label for="archived[[ $index ]]">Archived</label>
                    </div>
                </div>
           </a>
        </div>
6        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</div>
{% endblock %}
