{% extends "::base.html.twig" %}

{% block title %}RealtimeNotesBundle:ToDoList:index{% endblock %}

{% block body %}

    <div class="row" ng-controller="realtimeController">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <label>
                <input class="form-control input-lg" type="text" ng-model='submit' placeholder="Type data here...">
            </label>
            <button class="btn-lg btn-danger btn" ng-click="send()" ng-disabled="!submit">Send</button> 
            <span ng-bind="submit"></span>  {#[[submit]] - to jest wolnijsze!!!#}
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
{% endblock %}
