{% extends "::base.html.twig" %}

{% block title %}RealtimeNotesBundle:ToDoList:index{% endblock %}

{% block body %}

    <div class="row" ng-controller="realtimeController">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <label>
                <input class="form-control input-lg" type="text" ng-model='content' placeholder="Type data here...">
            </label>
            <button class="btn-lg btn-danger btn" ng-click="send(content)" ng-disabled="!content">Send</button> 
            <span ng-bind="submit"></span>  {#[[submit]] - to jest wolnijsze!!!#}
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">
                    <div class="row">
                        <div class="col-md-3" mg-model="createdBy">
                            Author
                        </div>
                        <div class="col-md-3 pull-right">
                            <span class="pull-right" mg-model="datatime">Time</span>
                        </div>
                    </div>
                    <div class="row-md-10" mg-model="note">
                        Note dasdas dsadas dsa das dasdsa dsadsad sad sadasdas 
                        dasdas dsa  asdasdsadsa dsadsad sadasdsa dsadasd sd dd
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
{% endblock %}
